button {
    background: transparent;
    border: none;
}

button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

.disable-feature {
    border: 2px solid #752C8F;
}

button:disabled {
    background: #fff;
    color: #752C8F;
    opacity: 0.4;
    cursor: default;
}

button:hover {
    color: #9242a8;
}

.btn-primary {
    border: 3px solid #752C8F;
    color: #752C8F;
    width: 100%;
    height: 42px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary-text {
    color: #752C8F;
    width: 100%;
    height: 42px;
    font-size: 14px;
    cursor: pointer;
}

a {
    color: #9242a8;
    cursor: pointer;
    font-family: "Roboto-Black";
}

a:hover {
    color: #9242a8;
    opacity: 1;
}

a:active {
    color: #9242a8;
    opacity: 1;
}

.visit {
    color: #9242a8;
}

.visit1 {
    color: #9242a8;
    text-decoration: underline;
}

.disable {
    color: #333333;
    opacity: 0.3 !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.md-checkbox {
    position: relative;
    margin: 16px 0;
}

.md-checkbox label {
    cursor: pointer;
}

.md-checkbox label:before,
.md-checkbox label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
}

.md-checkbox label:before {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.54);
    border-radius: 2px;
    cursor: pointer;
    transition: background 0.3s;
}

.md-checkbox input[type='checkbox'] {
    outline: 0;
    margin-right: 10px;
}

.md-checkbox input[type='checkbox']:checked+label:before {
    background: #337ab7;
    border: none;
}

.md-checkbox input[type='checkbox']:checked+label:after {
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
    width: 12px;
    height: 6px;
    border: 2px solid #fff;
    border-top-style: none;
    border-right-style: none;
}

div {
    font-family: monospace, Arial, Helvetica, sans-serif
}