<div class='flex-container flex-column flex-center width-100'>
    <h1 class='color-purple'>Todo's List</h1>
    <div class='flex-container flex-center width-100'>
        <div class='flex-container flex-column width-70'>
            <div class='flex-container flex-space-between-row table-header table-row'>
                <div class='flex-container flex-center width-25'>Name</div>
                <div class='flex-container flex-center width-25'>Description</div>
                <div class='flex-container flex-center width-25'>Complete</div>
                <div class='flex-container flex-center width-25'>Created At</div>
            </div>
            <div class='flex-container flex-space-between-row table-row'>
                <div class='flex-container flex-center width-25'>Ryan</div>
                <div class='flex-container flex-center width-25'>Lesson</div>
                <div class='flex-container flex-center width-25'>
                    <div class="md-checkbox">
                        <input id="i2" type="checkbox">
                        <label for="i2"></label>
                    </div>
                </div>
                <div class='flex-container flex-center width-25'>
                    10/29/2019
                </div>
            </div>
        </div>
    </div>
</div>