.table-row {
    height: 40px;
}

.table-row-content {
    height: 40px;
    height: 300px;
    overflow: auto;
}

.table-header {
    background: #F2F2F2;
    font-size: 20px;
    color: #456843;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}